body {
  background-color: #7B5AFD;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  cursor: url("../img/straw.png"), auto;
}


/* MAIN PAGE */
.screen_1 {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.screen_2 {
  display: none;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.screen_3 {
  display: none;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: hidden;
}

.screen_4 {
  display: none;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.back_1 {
  display: flex;
  width: 300vw;
  height: 100vh;
  animation: anim1 14s infinite linear;
  background-image: url("../img/bg-peretask.png");
  background-size: cover;
}

.products {
  position: absolute;
  /* overflow: hidden; */
  display: block;
  width: 100vw;
  height: 50vw;
  top: -2vh;
}

.products:hover {
  animation-play-state: paused;
}

@keyframes products-move {
  0%{transform: translateX(0);}
  50%{transform: translateX(-100%);opacity: 1;}
  51%{transform: translateX(-100%); opacity: 0;}
  52%{transform: translateX(100%); opacity: 0;}
  53%{transform: translateX(100%); opacity: 1;}
}

.glitchi_main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vw;
  background-size: cover;
  background-image: url("../img/verh_glavniy.png");
}

.glitchi_main2 {
  position: absolute;
  left: 0;
  bottom: 0vw;
  width: 100vw;
  height: 10vw;
  background-size: cover;
  background-image: url("../img/niz_glavniy.png");
}

.item1 {
  position: absolute;
  top: 29vh;
  left: 2vw;
  height: 21vw;
  width: 16vw;
  background-size: cover;
  background-image: url("../img/item1.png");
}

.ticket1 {
  position: absolute;
  width: 12vw;
  height: 12vw;
  top: 20vh;
  left: -6vw;
  animation: anim2 2s infinite linear;
  background-size: cover;
  background-image: url("../img/ticket1.png");
}

@keyframes anim2 {
  0% {
      transform: rotate(2deg);
  }
  50% {
      transform: rotate(-6deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

/* мир 2 и этикетка */
/* жопа я ниче не успею */

.item2 {
  position: absolute;
  top: 49vh;
  left: 31vw;
  height: 17.5vw;
  width: 21.8vw;
  background-size: cover;
  background-image: url("../img/item2.png");
}
.ticket2 {
  position: absolute;
  top: 57vh;
  left: 23vw;
  animation: anim2 2s infinite linear;
  height: 13vw;
  width: 11vw;
  background-size: cover;
  background-image: url("../img/ticket2.png");
}

/* мир 3 и этикетка */

.item3 {
  position: absolute;
  top: 21vh;
  left: 57vw;
  height: 19vw;
  width: 32vw;
  background-size: cover;
  background-image: url("../img/item3.png");
}
.ticket3 {
  position: absolute;
  top: 21vh;
  left: 86vw;
  height: 8vw;
  width: 11vw;
  animation: anim2 2s infinite linear;
  background-size: cover;
  background-image: url("../img/ticket3.png");
}

/* мир 4 и этикетка */

.item4 {
  position: absolute;
  top: 43vh;
  left: 92vw;
  height: 23vw;
  width: 25vw;
  background-size: cover;
  background-image: url("../img/item4.png");
}
.ticket4 {
  position: absolute;
  top: 56vh;
  left: 81vw;
  height: 12vw;
  width: 13vw;
  animation: anim2 2s infinite linear;
  background-size: cover;
  background-image: url("../img/ticket4.png");
}

/* DRAG & DROP */

.back_2 {
  display: flex;
  width: 300vw;
  height: 100vh;
  animation: anim1 14s infinite linear;
  background-image: url("../img/bg-peretask.png");
  background-size: cover;
}


@keyframes anim1 {
  0% {
      transform: translateX(0vw);
  }
  100% {
      transform: translateX(-200vw);
  }
}
.products {
  animation: products-move 7s infinite linear;
}

.glitchi_drag {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 6vw;
  background-size: cover;
  background-image: url("../img/verh.png");
}

.glitchi_drag2 {
  position: absolute;
  left: 0;
  bottom: 0vw;
  width: 100vw;
  height: 6vw;
  background-size: cover;
  background-image: url("../img/niz.png");
}

#plashka {
  position: absolute;
  top: 4vw;
  left: 8vw;
  width: 46vw;
  height: 4vw;
  background: #F50BFF;
}

.name p:nth-child(1) {
  font-family: GraphikLCG;
  font-size: 2.5vw;
  position: absolute;
  top: 9vh;
  left: 15vw;
  color: #FFFFFF;
}

.name h5 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5vw;
  position: absolute;
  top: 8.6vh;
  left: 25.5vw;
  color: #FFFFFF;
}

.name p:nth-child(3) {
  font-family: GraphikLCG;
  font-size: 2.5vw;
  position: absolute;
  top: 9vh;
  left: 47vw;
  color: #FFFFFF;
}

/* сам ковер и его перекрасы, сначала он желтый */

.rectangle {
  width: 62vw;
  height: 63vh;
  position: absolute;
  top: 17vh;
  left: 4.5vw;
  background: #FEC708;
}
.pink {
  background: #EC71D9;
}
.yellow {
  background: #FEC708;
}
.blue {
  background: #5FCFFA;
}

.polki {
  width: 16vw;
  height: 3.5vh;
  background-size: cover;
  background-image: url("../img/polka.png");
}

.poloki{
  display: grid;
  grid-gap: 10vh;
  position: absolute;
  top: 17vh;
  left: 78vw;
  height: 33vh;
  width: 18vw;
}

.straw {
  position: absolute;
  left: 77vw;
  top: 3.5vh;
  cursor: move;
  position: absolute;
  display: flex;
  width: 10vw;
  height: 10vw;
  background-size: cover;
  background-image: url("../img/straw.png");
}

.lemon {
  position: absolute;
  left: 87vw;
  top: 5.5vh;
  cursor: move;
  position: absolute;
  width: 7vw;
  height: 7vw;
  background-size: cover;
  background-image: url("../img/lemon.png");
}

.apple {
  position: absolute;
  left: 79vw;
  top: 20.5vh;
  cursor: move;
  position: absolute;
  width: 6vw;
  height: 6.5vw;
  background-size: cover;
  background-image: url("../img/apple.png");
}

.listik {
  position: absolute;
  left: 85vw;
  top: 14.5vh;
  cursor: move;
  width: 12vw;
  height: 10vw;
  background-size: cover;
  background-image: url("../img/list.png");
}

.black {
  position: absolute;
  left: 78vw;
  top: 34vh;
  cursor: move;
  width: 8vw;
  height: 8vw;
  background-size: cover;
  background-image: url("../img/black.png");
}

.brocco {
  position: absolute;
  left: 85vw;
  top: 29vh;
  cursor: move;
  width: 12vw;
  height: 12vw;
  background-size: cover;
  background-image: url("../img/brocco.png");
}

.fish {
  position: absolute;
  left: 77vw;
  top: 45vh;
  cursor: move;
  width: 20vw;
  height: 9vw;
  background-size: cover;
  background-image: url("../img/fish.png");
}

.mush {
  position: absolute;
  left: 78vw;
  top: 61vh;
  cursor: move;
  width: 7vw;
  height: 7vw;
  background-size: cover;
  background-image: url("../img/mush.png");
}

.goroh {
  position: absolute;
  left: 84vw;
  top: 55vh;
  cursor: move;
  width: 13vw;
  height: 10vw;
  background-size: cover;
  background-image: url("../img/goroh.png");
}

.carrot {
  position: absolute;
  left: 78vw;
  top: 77vh;
  cursor: move;
  width: 17vw;
  height: 7vw;
  background-size: cover;
  background-image: url("../img/carrot.png");
}


#pink_knopka {
  background: #EC71D9;
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  left: 18vw;
  top: 83vh;
  transform: rotate(45deg);
  border: 3px solid #ffffff;
}

#blue_knopka {
  background: #5FCFFA;
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  left: 24vw;
  top: 83vh;
  transform: rotate(45deg);
  border: 3px solid #ffffff;
}

#yellow_knopka {
  background: #FEC708;
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  left: 30vw;
  top: 83vh;
  transform: rotate(45deg);
  border: 3px solid #ffffff;
}

#home {
  position: absolute;
  left: 47vw;
  top: 82vh;
  width: 10vw;
  height: 4vw;
  background-image: url("../img/home.png");
  background-size: cover;
}

/* активность и ховеры на кнопках */

#home:hover, #pink_knopka:hover, #blue_knopka:hover, #yellow_knopka:hover {
  box-shadow: 10px 16px 40px 0px #FFFFFFBD;
  transition: 0.5s;
}

#pink_knopka:active {
  background: #BB25A4;
}
#blue_knopka:active {
  background: #058cd0;
}
#yellow_knopka:active {
  background: #DC8A02;
}


/* DRAW */


.glitchi_draw {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 6vw;
  background-size: cover;
  background-image: url("../img/gli_orange_verh.png");
}

.glitchi_draw2 {
  position: absolute;
  left: 0;
  bottom: 0vw;
  width: 100vw;
  height: 6vw;
  background-size: cover;
  background-image: url("../img/gli_orange_niz.png");
}

.back_3 {
  display: flex;
  width: 300vw;
  height: 100vh;
  animation: anim1 14s infinite linear;
  background-image: url("../img/bg_2.png");
  background-size: cover;
}


#kover {
  position: absolute;
  top: 4vh;
  left: 28vw;
  width: 44vw;
  height: 8vh;
  background: #FFDFB9;
  margin-left: auto;
  margin-right: auto;
}

.name_2 p:nth-child(1) {
  font-family: GraphikLCG;
  font-size: 2.5vw;
  position: absolute;
  top: 6vh;
  left: 30vw;
  color: #000;
  z-index: 2;
}

.name_2 h5 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5vw;
  position: absolute;
  top: 5.5vh;
  left: 41.5vw;
  color: black;
  z-index: 2;
}

.name_2 p:nth-child(3) {
  font-family: GraphikLCG;
  font-size: 2.5vw;
  position: absolute;
  top: 6vh;
  left: 63vw;
  color: #000;
  z-index: 2;
}

/* кнопки */

#sin_knopka {
  background: #2400FF;
  position: absolute;
  width: 4vw;
  height: 4vw;
  left: 75vw;
  top: 30vh;
  transform: rotate(45deg);
  display: flex;
  border: 3px solid #ffffff;
}

#black_knopka {
  background: #000;
  position: absolute;
  width: 4vw;
  height: 4vw;
  left: 75vw;
  top: 43vh;
  transform: rotate(45deg);
  display: flex;
  border: 3px solid #ffffff;
}

#viol_knopka {
  background: #AF00B8;
  position: absolute;
  width: 4vw;
  height: 4vw;
  left: 75vw;
  top: 56vh;
  transform: rotate(45deg);
  display: flex;
  border: 3px solid #ffffff;
}


#home_knopka {
  position: absolute;
  left: 10vw;
  top: 10vh;
  width: 10vw;
  height: 4vw;
  z-index: 2;
  background-image: url("../img/home-draw.png");
  background-size: cover;
  display: flex;
}

#drawCanvas {
  /* position: absolute;
  top: 13vh;
  left: 31vw;
  height: 38vw;
  /* width: 38vw;

  display: block;
  margin: auto; */
  display: block;
  position: absolute;
  top: 13vh;
  left: 29vw;
  margin-left: auto;
  margin-right: auto;
}

/* TRACKING_GAME */

.back_4 {
  display: flex;
  width: 300vw;
  height: 100vh;
  animation: anim1 14s infinite linear;
  background-image: url("../img/bg_track.png");
  background-size: cover;
}

.verh_track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 6vw;
  background-image: url("../img/verh_track.png");
  background-size: cover;
}

.niz_track {
  position: absolute;
  left: 0;
  bottom: 0vw;
  width: 100vw;
  height: 6vw;
  background-image: url("../img/niz_track.png");
  background-size: cover;
}

.plashka2 {
  position: absolute;
  top: 7vh;
  display: block;
  margin: auto;
  left: 32vw;
  width: 36vw;
  height: 5vw;
  background: #BDFFC4;
}

.name_3 p:nth-child(1) {
  font-family: GraphikLCG;
  font-size: 2.5vw;
  position: absolute;
  top: 9vh;
  left: 34.5vw;
  color: #000;
  z-index: 2;
}
.name_3 h5 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5vw;
  position: absolute;
  top: 8.5vh;
  left: 46vw;
  color: black;
  z-index: 2;
}
.name_3 p:nth-child(3) {
  font-family: GraphikLCG;
  font-size: 2.5vw;
  position: absolute;
  top: 9vh;
  left: 57.5vw;
  color: #000;
  z-index: 2;
}

.rectangle_3 {
  position: absolute;
  top: 17vh;
  left: 18vw;
  background: #B7E0FF;
  height: 73vh;
  width: 64vw;
  overflow: hidden;
}

.rectangle_3 img {
  pointer-events: none;
}

#home_track {
  position: absolute;
  left: 3vw;
  top: 17vh;
  width: 11vw;
  height: 5vw;
  background-image: url("../img/home_track.png");
  background-size: cover;
}
.home_track:hover, #home_knopka:hover, #sin_knopka:hover, #black_knopka:hover, #viol_knopka:hover, #home_track:hover, #home_remember:hover {
  box-shadow: 10px 16px 40px 0px #FFFFFFBD;
  transition: 0.5s;
}
