/* @media screen and (min-width: 1420px) and (max-width: 1920px) {

} */



/* ноут 1280 который */

/* игра перетаскивание */
@media screen and (min-width: 1025px) and (max-width: 1280px) {


  /* главный экран */
  .help_rect {
    position: absolute;
    top: 19vh;
    left: 20vw;
    height: 39.5vw;
    width: 60vw;
  }
  .help {
    top: 89vh;
  }
  .close {
    top: 27vh;
    left: 72vw;
    height: 5vw;
    width: 5vw;
  }
  .polki {
    width: 18vw;
    height: 3.5vh;
  }
  .poloki{
    grid-gap: 10.5vh;
  }
  #plashka {top: 8vh;
    width: 54vw;
    left: 8vw;
  }
  .poloki{top: 17vh;
  }
  .straw {top: 6.5vh;
  }
  .lemon {top: 8.5vh;
  }
  .apple {top: 23.5vh;
  }
  .listik {top: 17.5vh;
  }
  .black {top: 37vh;
  }
  .brocco {top: 32vh;
  }
  .fish {top: 48vh;
  }
  .mush {top: 63vh;
  }
  .goroh {top: 58vh;
  }
  .carrot {top: 79vh;
  }

  /* рисование игра */

  #home_knopka {
    top: 13vh;
    width: 14vw;
    height: 6vw;
    left: 6vw;
  }

  #drawCanvas {
    top: 13vh;
    left: 25vw;
    left: calc((100vw - 560px)/2);
  }
}

/* айпад */
@media screen and (min-width: 651px) and (max-width: 1024px) {

  /* главный экран */

  .help_rect {
    position: absolute;
    top: 19vh;
    left: 20vw;
    height: 39.5vw;
    width: 60vw;
  }
  .help {
    top: 90vh;
  }
  .close {
    top: 24vh;
    left: 70vw;
    height: 7vw;
    width: 7vw;
  }

  .item1 {
    top: 17vh;
    left: 2vw;
    height: 26vw;
    width: 22vw;
  }
  .ticket1 {
    width: 17vw;
    height: 16vw;
    top: 11vh;
    left: -11vw;
  }
  .item2 {
    height: 24.5vw;
    width: 32vw;
    top: 58vh;
    left: 14vw;
  }
  .ticket2 {
    top: 61vh;
    left: 5vw;
    height: 18vw;
    width: 16vw;
  }
  .item3 {
    top: 8vh;
    left: 27vw;
    height: 24vw;
    width: 40vw;
  }
  .ticket3 {
    top: 12vh;
    left: 64vw;
    height: 10vw;
    width: 13vw;
  }
  .item4 {
    top: 65vh;
    left: 55vw;
    height: 21.8vw;
    width: 24.5vw;
  }
  .ticket4 {
    top: 73vh;
    left: 45vw;
    height: 21vw;
    width: 19vw;
  }
  .item5 {
    top: 28vh;
    left: 69vw;
    height: 21vw;
    width: 24vw;
  }
  .ticket5 {
    top: 22vh;
    left: 87vw;
    height: 15vw;
    width: 18vw;
  }
  .item6 {
    top: 60vh;
    left: 91vw;
    height: 24vw;
    width: 32vw;
  }
  .ticket6 {
    top: 52vh;
    left: 80vw;
    height: 15vw;
    width: 16vw;
  }


  /* изменения в перетаскивании */
  .polki {
    width: 23vw;
    height: 3.2vh;
  }
  .poloki{
    top: 16vh;
    grid-gap: 10vh;
    left: 74vw;
  }
  #plashka {
    top: 8vh;
    width: 66vw;
    height: 8vh;
    left: 3vw;
  }
  .poloki{top: 17vh;
  }
  .straw {
    top: 6.5vh;
    width: 13vw;
    height: 13vw;
    left: 73vw;
  }
  .lemon {top: 8.5vh;
    width: 9vw;
    height: 9vw;
  }
  .apple {
    top: 20.5vh;
    width: 9vw;
    height: 9.5vw;
    left: 76vw;
  }
  .listik {
    top: 18.5vh;
    width: 14vw;
    height: 12vw;
    left: 85vw;
  }
  .black {
    top: 35vh;
    width: 11vw;
    height: 11vw;
    left: 75vw;
  }
  .brocco {
    top: 32vh;
    width: 14vw;
    height: 14vw;
  }
  .fish {
    top: 48vh;
    width: 25vw;
    height: 12vw;
    left: 72vw;
  }
  .mush {top: 63vh;
    width: 9vw;
    height: 9vw;
    left: 75vw;
  }
  .goroh {top: 58vh;
    width: 16vw;
    height: 12vw;
    left: 83vw;
  }
  .carrot {
    top: 76vh;
    width: 23vw;
    height: 9vw;
    left: 76vw;
  }
  .name p:nth-child(1) {
    font-size: 3vw;
    top: 9vh;
    left: 11.5vw;
  }
  .name h5 {
    font-size: 3vw;
    top: 8.7vh;
    left: 24vw;
  }
  .name p:nth-child(3) {
    font-size: 3vw;
    top: 9vh;
    left: 49.5vw;
  }

  #pink_knopka {
    width: 4vw;
    height: 4vw;
    left: 13vw;
  }
  #blue_knopka {
    width: 4vw;
    height: 4vw;
    left: 22vw;
  }
  #yellow_knopka {
    width: 4vw;
    height: 4vw;
    left: 31vw;
  }
  #home {
    width: 15vw;
    height: 6vw;
  }

  /* изменения в трэке */

  /* плашка */
  .plashka2{
    left: 22vw;
    width: 56vw;
    height: 6vw;
  }
  /* шрифты */
  .name_3 p:nth-child(1) {
    font-size: 4vw;
    left: 25.5vw;
    top: 8vh;
  }
  .name_3 h5 {
    font-size: 4vw;
    left: 44vw;
    top: 8vh;
  }
  .name_3 p:nth-child(3) {
    font-size: 4vw;
    left: 62.5vw;
    top: 8vh;
  }
  .rectangle_3 {
    top: 16vh;
    height: 76vh;
  }
  #home_track {
    position: absolute;
    left: 3vw;
    top: 7vh;
    width: 17vw;
    height: 8vw;
  }

  /* рисование игра 651-1024*/


  #drawCanvas{
    display: block;
    position: absolute;
    top: 18vh;
    left: calc((100vw - 540px)/2);
}
  #kover{
    left: 19vw;
    width: 66vw;
    top: 6vh;
  }
  #home_knopka {
    top: 8vh;
    left: 4vw;
    width: 13vw;
    height: 6vw;
  }

  .name_2 p:nth-child(1) {
    font-size: 4vw;
    left: 20vw;
    top: 7vh;
  }
  .name_2 p:nth-child(3) {
    font-size: 4vw;
    top: 7vh;
    left: 72vw;
  }
  .name_2 h5 {
    top: 6.5vh;
    left: 38vw;
    font-size: 4vw;
  }
}

/* мобилки */
@media screen and (min-width: 340px) and (max-width: 650px) {

  /* изменения полей */

  .help_rect {
    top: 19vh;
    left: 7vw;
    height: 55.5vw;
    width: 86vw;
  }
  .help {
    top: 90vh;
    right: 3vw;
    height: 12vw;
    width: 25vw;
  }
  .close {
    top: 24vh;
    left: 80vw;
    height: 7vw;
    width: 7vw;
  }


  .glitchi_main {
    height: 10vw;
  }
  .glitchi_main2 {
    height: 10vw;
  }

  .glitchi_draw {
    height: 5vw;
  }
  .glitchi_draw2 {
    height: 5vw;
  }

  .glitchi_drag {
    height: 5vw;
  }
  .glitchi_drag2 {
    height: 5vw;
  }

  .item1 {
    top: 17vh;
    left: 2vw;
    height: 37vw;
    width: 31.5vw;
  }
  .ticket1 {
    width: 24vw;
    height: 22vw;
    top: 11vh;
    left: -15vw;
  }
  .item2 {
    height: 31.5vw;
    width: 41vw;
    top: 65vh;
    left: 8vw;
  }
  .ticket2 {
    top: 67vh;
    left: -7vw;
    height: 25vw;
    width: 23vw;
  }
  .item3 {
    top: 11vh;
    left: 38vw;
    height: 29vw;
    width: 48vw;
  }
  .ticket3 {
    top: 13vh;
    left: 81vw;
    height: 14vw;
    width: 18vw;
  }
  .item4 {
    top: 37vh;
    left: 42vw;
    height: 28.8vw;
    width: 32.5vw;
  }
  .ticket4 {
    top: 44vh;
    left: 28vw;
    height: 27vw;
    width: 28vw;
  }
  .item5 {
    top: 73vh;
    left: 55vw;
    height: 27vw;
    width: 32vw;
  }
  .ticket5 {
    top: 67vh;
    left: 78vw;
    height: 21vw;
    width: 23vw;
  }
  .item6 {
    top: 42vh;
    left: 91vw;
    height: 28vw;
    width: 39vw;
  }
  .ticket6 {
    top: 33vh;
    left: 74vw;
    height: 21vw;
    width: 27vw;
  }

  /* изменения в трэке */
  .plashka2{
    left: 18vw;
    width: 64vw;
    height: 8vw;
    top: 8vh;
  }
  .name_3 p:nth-child(1) {
    font-size: 5vw;
    left: 20.5vw;
  }
  .name_3 h5 {
    font-size: 5vw;
    left: 43vw;
    top: 8.7vh;
  }
  .name_3 p:nth-child(3) {
    font-size: 5vw;
    left: 65.5vw;
  }
  .rectangle_3 {
    top: 16vh;
    left: 9vw;
    height: 69vh;
    width: 82vw;
  }
  #home_track {
    position: absolute;
    left: 38vw;
    top: 86vh;
    width: 24vw;
    height: 10vw;
  }


  /* изменения в перетаскивании */
  .polki {
    width: 32vw;
    height: 3vh;
  }
  .poloki{
    top: 19vh;
    grid-gap: 10vh;
    left: 67vw;
  }
  .rectangle {
    left: 3vw;
    width: 60vw;
  }
  #plashka {
    top: 8vh;
    width: 66vw;
    height: 5vh;
    left: 3vw;
  }
  .name p:nth-child(1) {
    font-size: 4vw;
    top: 9vh;
    left: 4.5vw;
  }
  .name h5 {
    font-size: 4vw;
    top: 8.7vh;
    left: 21vw;
  }
  .name p:nth-child(3) {
    font-size: 4vw;
    top: 9vh;
    left: 55.5vw;
  }
  .straw {
    top: 11.5vh;
    width: 17vw;
    height: 17vw;
    left: 67vw;
  }
  .lemon {
    top: 12.5vh;
    width: 12vw;
    height: 12vw;
    left: 85vw;
  }
  .apple {
    top: 24.5vh;
    width: 12vw;
    height: 12.5vw;
    left: 71vw;
  }
  .listik {
    top: 23.5vh;
    width: 18vw;
    height: 15vw;
    left: 82vw;
  }
  .black {
    top: 38vh;
    width: 15vw;
    height: 15vw;
    left: 70vw;
  }
  .brocco {
    top: 37vh;
    width: 18vw;
    height: 18vw;
    left: 82vw;
  }
  .fish {
    top: 49vh;
    width: 34vw;
    height: 15vw;
    left: 66vw;
  }
  .mush {
    top: 62vh;
    width: 13vw;
    height: 13vw;
    left: 68vw;
  }
  .goroh {
    top: 60vh;
    width: 20vw;
    height: 15vw;
    left: 78vw;
  }
  .carrot {
    top: 76vh;
    width: 32vw;
    height: 13vw;
    left: 68vw;
  }
  .name p:nth-child(1) {
    font-size: 4vw;
    left: 5vw;
    top: 9vh;
  }
  .name h5 {
    top: 8.5vh;
    left: 21vw;
    font-size: 4vw;
  }
  .name p:nth-child(3) {
    font-size: 4vw;
    top: 9vh;
    left: 55vw;
  }
  #pink_knopka {
    width: 5.5vw;
    height: 5.5vw;
    left: 7vw;
    border: 3px solid #FFF;
  }
  #blue_knopka {
    width: 5.5vw;
    height: 5.5vw;
    left: 19vw;
    border: 3px solid #FFF;
  }
  #yellow_knopka {
    width: 5.5vw;
    height: 5.5vw;
    left: 31vw;
    border: 3px solid #FFF;
  }
  #home {
    width: 19vw;
    height: 8vw;
    left: 44vw;
  }

  /* рисование игра */

  #drawCanvas {
    top: 18vh;
    left: 25vw;
    left: calc((100vw - 380px) / 2);
  }

  #kover{
    left: 12vw;
    width: 77vw;
    height: 7vh;
  }
  #home_knopka {
    top: 80vh;
    left: 34vw;
    width: 31vw;
    height: 14vw;
  }

  .name_2 p:nth-child(1) {
    font-size: 4vw;
    left: 17vw;
    top: 6vh;
  }
  .name_2 p:nth-child(3) {
    font-size: 4vw;
    top: 6vh;
    left: 69vw;
  }
  .name_2 h5 {
    top: 5.5vh;
    left: 35vw;
    font-size: 4vw;
  }

}
